<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <!-- /. tools -->
      </div>
      <!-- /.box-header -->
      <div class="box-body pad">
        <p class="text-danger"><% if(typeof error_msg != 'undefined'){ %> <%= error_msg %> <% } %></p>
        <form method="POST" action="/admin/settings/save">
          <div class="col-md-12">
                <div class="page-header">
                    <h4><b><i class="icon-map-marker"></i> Email Settings</b></h4>
                </div>
                <div class="form-group">
            <label class="control-label" for="settings_mail_protocol">Email Protocol</label>
            <div class="controls">
                <select class="form-control" name="settings_mail_protocol">
                    <option value="mail" <% if(settings.mail_protocol ==  'mail'){ %> selected<% } %>>Mail</option>
                    <option value="smtp" <% if(settings.mail_protocol ==  'smtp'){ %> selected<% } %>>SMTP</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label" for="settings_email_noti">Notification Email Address (For contact and other notifications)</label>
            <div class="controls">
                <input type="text" name="settings_email_noti" id="ini_email_noti" class="form-control" value="<%= settings.email_noti %>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="settings_site_name">Website Name (To be used in outgoing email header)</label>
            <div class="controls">
                <input type="text" name="settings_site_name" id="ini_site_name" class="form-control" value="<%= settings.site_name %>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="settings_email_from">Email Address (Outgoing emails will be sent from this address)</label>
            <div class="controls">
                <input type="text" name="settings_email_from" id="ini_email_from" class="form-control" value="<%= settings.email_from %>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="settings_smtp_port">SMTP Port</label>
            <div class="controls">
                <input type="text" name="settings_smtp_port" id="ini_smtp_port" class="form-control" value="<%= settings.smtp_port %>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="settings_smtp_host">SMTP Host</label>
            <div class="controls">
                <input type="text" name="settings_smtp_host" id="ini_smtp_host" class="form-control" value="<%= settings.smtp_host %>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="settings_smtp_user">SMTP User</label>
            <div class="controls">
                <input type="text" name="settings_smtp_user" id="ini_smtp_user" class="form-control" value="<%= settings.smtp_user %>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="settings_smtp_pass">SMTP Password</label>
            <div class="controls">
                <input type="text" name="settings_smtp_pass" id="ini_smtp_pass" class="form-control" value="<%= settings.smtp_pass %>">
            </div>
        </div>
            <input type="submit" value="save" class="btn btn-success  pull-right">
            </div>

        </form>
      </div>
    </div>
    <!-- /.box -->
    </div>
    </div>
