<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title pull-right"><a href="/admin/page_manager/add">+ Add Page</a></h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <table class="table table-bordered table-hover DataTable">
          <thead>
          <tr>
            <th>S/N</th>
            <th>Title</th>
            <th>Alias</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
              <%
                var total_page = pages.length;
                for(var i=0; i < total_page; i++){
              %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= pages[i].title %></td>
            <td><%= pages[i].alias %></td>
            <td><%= pages[i].category %></td>
            <td>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Action
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                      <li><a href="/admin/page_manager/edit?id=<%= pages[i].id %>">Edit</a></li>
                      <li><a href="#" onclick="delete_page('<%= pages[i].id %>')">Delete</a></li>
                  </ul>
              </div>
          </td>
          </tr>
          <% } %>
          </tbody>
          
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    </div>
    </div>
<script>
  function delete_page(page_id){
    swal({
      title: "Are you sure?",
      text: "You will not be able to recover this category!",
      type: "warning",
      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, delete it!",
      closeOnConfirm: false,
      html: false
    }, function(){
        $.ajax({
          data:{id: page_id },
          url: '/admin/page_manager/delete_page',
          type: "DELETE",
          success: function(results){
            swal({
              title: "Page successfully deleted!",
              type: "success",
              text: ""
            }, function(){
              location.reload();
            });

          },
          error: function(err){
            console.log("error occur");
            console.log(err);
          }
        });
    });
  }
</script>
